

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


.content-title{
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  padding-bottom: 60px;
  font-weight: bold;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* container
-------------------------------------------------- */
.space{ 
  display: inline-block;
  padding: 70px;
}
.space img{ 
  height: 400px;
}

.page{
  margin:0 auto;
  position: relative;
  left: 500px;
}
.card{
  margin-bottom: 1.5rem;
  text-align: center;
}

/* footer
-------------------------------------------------- */
.bottoning{
  padding-top: 50px;
}
.bottoning .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.bottoning h4 {
  font-weight: 400;
}

.bottoning .col-lg-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.bottoning img{
  width: 150px;
  height: 150px;
  
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}




